<lego-select>
  <lego-select-header slot="header"></lego-select-header>
  <div slot="options">
    <lego-select-option value="nintendo"></lego-select-option>
    <lego-select-option value="xbox"></lego-select-option>
    <lego-select-option value="play"></lego-select-option>
  </div>
</lego-select>

<br/>

<lego-select>
  <lego-select-header slot="header"></lego-select-header>
  <div slot="options">
    <lego-select-option value="nintendo"></lego-select-option>
    <lego-select-option value="xbox"></lego-select-option>
    <lego-select-option value="play"></lego-select-option>
  </div>
</lego-select>

<br/>

<lego-select>
  <lego-select-header slot="header"></lego-select-header>
  <div slot="options">
    <lego-select-option value="nintendo"></lego-select-option>
    <lego-select-option value="xbox"></lego-select-option>
    <lego-select-option value="play"></lego-select-option>
  </div>
</lego-select>


<br/>

<lego-select>
  <lego-select-header slot="header"></lego-select-header>
  <div slot="options">
    <lego-select-option value="nintendo"></lego-select-option>
    <lego-select-option value="xbox"></lego-select-option>
    <lego-select-option value="play"></lego-select-option>
  </div>
</lego-select>


<br/>

<lego-select>
  <lego-select-header slot="header"></lego-select-header>
  <div slot="options">
    <lego-select-option value="nintendo"></lego-select-option>
    <lego-select-option value="xbox"></lego-select-option>
    <lego-select-option value="play"></lego-select-option>
  </div>
</lego-select>


<br/>

<lego-select>
  <lego-select-header slot="header"></lego-select-header>
  <div slot="options">
    <lego-select-option value="nintendo"></lego-select-option>
    <lego-select-option value="xbox"></lego-select-option>
    <lego-select-option value="play"></lego-select-option>
  </div>
</lego-select>


<br/>

<lego-select>
  <lego-select-header slot="header"></lego-select-header>
  <div slot="options">
    <lego-select-option value="nintendo"></lego-select-option>
    <lego-select-option value="xbox"></lego-select-option>
    <lego-select-option value="play"></lego-select-option>
  </div>
</lego-select>

